body {
	font-family: 'Lato', sans-serif;
	background-image: url(/img/pattern.jpg);
}

 body.nightMode {
	font-family: 'Lato', sans-serif;
	background-image: url(/img/NightModepattern.png);
}

.navbar-form .form-control {
	display: inline-block;
	width: 500px;
	margin-left: 10%;
	vertical-align: middle;
	box-shadow: 5px 5px 20px -6px gray;
}

.navColor{
	background-color: #3EB890;
	color: #443642;
	box-shadow: 5px 5px 20px -6px gray;
}

.nightMode .navColor  {
	background-color: #443642;
	color: #3EB890;
	box-shadow: 5px 5px 20px -6px gray;
}

.submitMessage {
	color: #fff;
	background-color: #70CADB;
	box-shadow: 5px 5px 10px -6px gray;
}

.nightMode .submitMessage {
	color: #fff;
	background-color: #EBA823;
	box-shadow: 5px 5px 10px -6px gray;
}

.nightMode .submitMessage  {
	color: #fff;
	background-color: #E01765;
	box-shadow: 5px 5px 10px -6px gray;
}

.navShadow {
	box-shadow: 5px 5px 20px -6px gray;
}


.navbar-form {
	margin-top: 3%;
	padding-right: 13%;
	font-size: 0px;
	text-align: center;
	vertical-align: middle;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ghost {
	margin-top: 100px;
}

.radio {
	padding-left: 8%;
	float: right;
}

.nightmode .messageHeader  {
	padding-top: 1%;
	margin: 0 auto;
	text-align: center;
	max-width: 50%;
	border-bottom: 2px solid #E01765;
	padding-bottom: 1%;
	background-color: rgba(225,225,225,.9);
	margin-bottom: 2%;
}

.messageHeader {
	padding-top: 1%;
	margin: 0 auto;
	text-align: center;
	max-width: 50%;
	border-bottom: 2px solid #E01765;
	padding-bottom: 1%;
}


.messageHeader  h1 {
	color: #443642;
	font-weight: 300;
	font-size: 2rem;
}

.nightMode .messageHeader  h1 {
	color: #3EB890;
	font-weight: 300;
	font-size: 2rem;
}

.messageBox {
	border: 1px dashed #E01765;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #443642, 0 0 0 10px #fff, 0 0 2px 10px #eee;
	min-height: 600px;
	text-align: center;
	background-color: rgba(255,255,255, .4);
}

.nightMode .messageBox{
	border: 1px dashed #E01765;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #443642, 0 0 0 10px #fff, 0 0 2px 10px #eee;
	min-height: 600px;
	text-align: center;
	background-color: rgba(0,0,0, .6);
	color: white;
}

.hidden {
	display: none;
}

.clearButton {
	margin-top: -8px;
	margin-left: 5%;
	color: #fff;
}

.messageCard {
	border 1px solid white;
}

.messageCard {
	background-image: url(/img/cardBG.png);
	margin-top: 2%;
	margin: 0 auto;
	text-align: center;
	max-width: 75%;
	border-bottom: 2px solid #70CADB;
	padding-bottom: 2%;
	padding-top: 2%;
	color: #443642 ;
	position: relative;
}

.nightMode .messageCard {
	background-image: url(/img/nightModecardBG.png);
	border-bottom: 2px solid #70CADB;
	color: rgba(225,225,225,1);
}


.delete-single-message {
	margin-bottom: 5%;
	color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.messageCard:hover .delete-single-message {
	color: #443642;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	display: unset;
}


.nightMode .messageCard:hover .delete-single-message {
	color: #EBA823;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	background:none;
  border:none;
}

.largeText h3{
	font-size: 5rem;
}


.navbar-default .navbar-brand {
	color: white;
}


.nightMode .slackLogo{
	background-image: url(/img/NightModeslack-ish.png);
	height: 65px;
	width: 167px;
}

.slackLogo {
	background-image: url(/img/slack-ish.png);
	height: 65px;
	width: 167px;
}

.nightMode .pageBackground {
	background-image: url(/img/NightModepattern.png);
}




